<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Binding de Doble Vía con v-model: Interacción del Usuario</title>
</head>
<body>
    <div id="app">

        <label>Escribe tu nombre </label>
        <input type="text" v-model="nombre">
        <hr>
        <h5>Hola {{nombre}}</h5>

        <hr>
        <select v-model="fruta">
            <option value="Manzana">Manzana</option>
            <option value="Pera">Pera</option>
            <option value="Uva">Uva</option>
        </select>
        Fruta seleccionada: {{fruta}}

        <input type="checkbox" v-model="activo">
        {{activo}}

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
            const app = {
                data() {
                    return  {
                        nombre: '',
                        fruta: '',
                        activo: false
                    }
                }
            }
        var mountedApp4 = Vue.createApp(app).mount('#app');
    </script>
</body>
</html>