<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bucles Anidados con v-for, Obtener Índice, Bucles a Partir de Rangos</title>
</head>
<body>
    <div id="app">

        <ul>
            <li v-for="(fruta, index) in frutas_con_id" v-bind:key="fruta">
                {{fruta.id}} - {{fruta.nombre}}
                <ul>
                    <li v-for="pais in fruta.paises_origen">País: {{pais.id_pais}} - {{pais.pais}}</li>
                </ul>
            </li>
        </ul>

    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const app = {
            data() {
                return{
                  frutas_con_id: [
                    {
                        id: 1,
                        nombre: 'Manzana',
                        paises_origen: [
                           {
                                id_pais: 1,
                                pais: 'Colombia'
                           },
                           {
                                id_pais: 2,
                                pais: 'Uruaguay'
                           },
                        ]
                    },
                    {
                        id: 2,
                        nombre: 'Pera',
                        paises_origen: [
                           {
                                id_pais: 3,
                                pais: 'Venezuela'
                           },
                           {
                                id_pais: 4,
                                pais: 'Chile'
                           },
                        ]
                    },
                    {
                        id: 3,
                        nombre: 'Uva',
                        paises_origen: null
                    },
                  ]
                }
            }
        }
        var mountedApp5 = Vue.createApp(app).mount('#app');
    </script>
</body>
</html>